.gitignore
*.DS_Store
XBMC\ Remote.xcodeproj/xcuserdata/*
XBMC\ Remote.xcodeproj/project.xcworkspace/xcuserdata/*
XBMC\ Remote/RemoteController_old.xib
*.swp
Kodi\ Remote.xcodeproj/xcuserdata/*
Kodi\ Remote.xcodeproj/project.xcworkspace/xcuserdata/*
Kodi\ Remote/RemoteController_old.xib
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.psd
