<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>General</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>connection_info_preference</string>
			<key>Title</key>
			<string>Show connection notice</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>wol_preference</string>
			<key>Title</key>
			<string>Send Wake-On-LAN automatically</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>song_preference</string>
			<key>Title</key>
			<string>Direct Play mode</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>ken_preference</string>
			<key>Title</key>
			<string>Ken Burns effect</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>shake_preference</string>
			<key>Title</key>
			<string>Shake to clear playlist</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>jewel_preference</string>
			<key>Title</key>
			<string>Show jewel cases</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Hide labels in wall view</string>
			<key>Key</key>
			<string>hidden_label_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Prefer posters for TV shows</string>
			<key>Key</key>
			<string>prefer_TVposter_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use rounded corner images</string>
			<key>Key</key>
			<string>rounded_corner_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use thumbnail when fanart is missing</string>
			<key>Key</key>
			<string>fanart_fallback_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>auto</string>
			<key>Key</key>
			<string>logo_background</string>
			<key>Title</key>
			<string>TV logo background</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Automatic</string>
				<string>Dark</string>
				<string>Light</string>
				<string>Transparent</string>
			</array>
			<key>Values</key>
			<array>
				<string>auto</string>
				<string>dark</string>
				<string>light</string>
				<string>trans</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Remote Control</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>vibrate_preference</string>
			<key>Title</key>
			<string>Vibrate remote control</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>App Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Filemode changes needs app restart</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>clearcache_preference</string>
			<key>Title</key>
			<string>Clear cache on next start</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>diskcache_preference</string>
			<key>Title</key>
			<string>Enable contents cache</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>lockscreen_preference</string>
			<key>Title</key>
			<string>Override Lockscreen</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>fileType_preference</string>
			<key>Title</key>
			<string>Show all files in filemode</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Main Menu</string>
			<key>Key</key>
			<string>start_menu</string>
			<key>Title</key>
			<string>Start in view</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Main Menu</string>
				<string>Music</string>
				<string>Movies</string>
				<string>Videos</string>
				<string>TV Shows</string>
				<string>Pictures</string>
				<string>Live TV</string>
				<string>Radio</string>
				<string>Favourites</string>
				<string>Now Playing</string>
				<string>Remote Control</string>
				<string>Global Search</string>
			</array>
			<key>Values</key>
			<array>
				<string>Main Menu</string>
				<string>Music</string>
				<string>Movies</string>
				<string>Videos</string>
				<string>TV Shows</string>
				<string>Pictures</string>
				<string>Live TV</string>
				<string>Radio</string>
				<string>Favourites</string>
				<string>Now Playing</string>
				<string>Remote Control</string>
				<string>Global Search</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Main Menu Items</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Main Menu changes needs app restart</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_music</string>
			<key>Title</key>
			<string>Music</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_movies</string>
			<key>Title</key>
			<string>Movies</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_videos</string>
			<key>Title</key>
			<string>Videos</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_tvshows</string>
			<key>Title</key>
			<string>TV Shows</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_pictures</string>
			<key>Title</key>
			<string>Pictures</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_livetv</string>
			<key>Title</key>
			<string>Live TV</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_radio</string>
			<key>Title</key>
			<string>Radio</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_favourites</string>
			<key>Title</key>
			<string>Favourites</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_nowplaying</string>
			<key>Title</key>
			<string>Now Playing</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_remote</string>
			<key>Title</key>
			<string>Remote Control</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_search</string>
			<key>Title</key>
			<string>Global Search</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
