<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>General</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Language changes needs app restart</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>lang_preference</string>
			<key>Title</key>
			<string>Language</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Automatic</string>
				<string>English</string>
				<string>Français</string>
				<string>Italiano</string>
				<string>Deutsch</string>
				<string>简体中文</string>
				<string>Polski</string>
				<string>Português</string>
				<string>Español</string>
				<string>Czech</string>
				<string>Nederlands</string>
				<string>Türkçe</string>
				<string>Svenska</string>
			</array>
			<key>Values</key>
			<array>
				<string></string>
				<string>en</string>
				<string>fr</string>
				<string>it</string>
				<string>de</string>
				<string>zh-Hans</string>
				<string>pl</string>
				<string>pt-PT</string>
				<string>es</string>
				<string>cs</string>
				<string>nl</string>
				<string>tr</string>
				<string>sv</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>connection_info_preference</string>
			<key>Title</key>
			<string>Show connection notice</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>song_preference</string>
			<key>Title</key>
			<string>Direct Play mode</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>ken_preference</string>
			<key>Title</key>
			<string>Ken Burns effect</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>shake_preference</string>
			<key>Title</key>
			<string>Shake to clear playlist</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>jewel_preference</string>
			<key>Title</key>
			<string>Show jewel cases</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Hide labels in wall view</string>
			<key>Key</key>
			<string>hidden_label_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>logo_background</string>
			<key>Title</key>
			<string>TV logo background</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Automatic</string>
				<string>Dark</string>
				<string>Light</string>
				<string>Transparent</string>
			</array>
			<key>Values</key>
			<array>
				<string>auto</string>
				<string>dark</string>
				<string>light</string>
				<string>trans</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Remote Control</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>gesture_preference</string>
			<key>Title</key>
			<string>Gesture remote control</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>vibrate_preference</string>
			<key>Title</key>
			<string>Vibrate remote control</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>remote_position</string>
			<key>Title</key>
			<string>Remote Position</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Top</string>
				<string>Bottom</string>
			</array>
			<key>Values</key>
			<array>
				<string>position_top</string>
				<string>position_bottom</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>App Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Filemode changes needs app restart</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>clearcache_preference</string>
			<key>Title</key>
			<string>Clear cache on next start</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>diskcache_preference</string>
			<key>Title</key>
			<string>Enable contents cache</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>lockscreen_preference</string>
			<key>Title</key>
			<string>Override Lockscreen</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>fileType_preference</string>
			<key>Title</key>
			<string>Show all files in filemode</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Main Menu</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Main Menu changes needs app restart</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_music</string>
			<key>Title</key>
			<string>Show MUSIC</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_movies</string>
			<key>Title</key>
			<string>Show MOVIES</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_tvshows</string>
			<key>Title</key>
			<string>Show TV SHOWS</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_pictures</string>
			<key>Title</key>
			<string>Show PICTURES</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_livetv</string>
			<key>Title</key>
			<string>Show LIVE TV</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_favourites</string>
			<key>Title</key>
			<string>Show FAVOURITES</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_nowplaying</string>
			<key>Title</key>
			<string>Show NOW PLAYING</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>menu_remote</string>
			<key>Title</key>
			<string>Show REMOTE CONTROL</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
